<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Tianheng from WaterScope">
		<link rel="icon" href="WaterScope-icon.png">
		<!-- CSS to make the thing works-->
		<style>
			body {
				padding-top: 5rem;
				background-color: white !important;}
			.starter-template {
			padding: 3rem 1.5rem;
			text-align: center;
			}
		</style>
		<!--
		<link rel="stylesheet" type="text/css" href="static/style.css">
		-->





		<title>WaterScope Web Interface</title>


	
		
	</head>

	
	<body>



		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">WaterScope Web Interface </a>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>

		
<!--		<div class="container">
			<div class="starter-template">
				<h1>WaterScope Web Interface</h1>
				<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
			</div>
		</div>
-->

		<!-- Streaming window etc-->
		<div class="container-fluid text-center ">
			<div class="row justify-content-around">
				<div class="col">
					<!-- MJPEG streaming container -->
					<div id="stream_container" class="stream_conatiner button"></div>
				</div>
			</div>
			<br>
				<!-- image capture and preview button-->
			<div class="row justify-content-around">   
				<div class="col">   
					<button type="button" class="btn btn-success" onclick="start_stream();">Start streaming</button>
					<button type="button" class="btn btn-danger" onclick="stop_stream()";>Stop streaming</button>
					<button class="btn btn-primary" onclick="capture(camera_params);">Save image</button>
					<!-- a hidden button to download the jpeg-->
					<a id="capture_link" href="static/capture.jpg" hidden download>Download</a>
					<!-- Run script with time.sleep() without refreshing page using ajax-->
					<button id="time_lapse_button" class="btn btn-success" type="submit">Start time-lapse</button>
					<button  id="autofocus_button" class="btn btn-danger" type="submit">Autofocus</button>
				</div>
			</div>
		</div>
		<br>



		<div class="container-fluid text-center">
			<div class="row justify-content-around">
				<div class="col-xs-5 ">
					<!-- xy movement-->
					<div class="row justify-content-center">
						<h5>X-Y</h5>
					</div>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-warning" onclick="move(0, 2000, 0);">&#x25B2</button>
					</div>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-warning" onclick="move(-2000, 0, 0);">&#x25C0;&#xFE0E;</button>
						&emsp;
						<button type="button" class="btn btn-warning" onclick="move(2000, 0, 0);">&#x25BA</button>
					</div>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-warning" onclick="move(0, -2000, 0);">&#x25BC</button>
					</div>
				</div>

				<div class="col-xs-5">
					<!-- z movement-->
					<div class="row justify-content-center">
						<h5>Focus</h5>
					</div>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-warning" onclick="move(0, 0, 2000);">&#x25B2</button>
					</div>
					<br>
					<div class="row justify-content-center">
						<button type="button" class="btn btn-warning" onclick="move(0, 0, -2000);">&#x25BC</button>
					</div>
				</div>
			</div>
		</div>

		<br>


		<div class="container-fluid text-center">
			<div class="row justify-content-around">
				<div class="col">
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#brightness_pane" role="tab">Brightness</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#contrast_pane" role="tab">Contrast</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#white_balance_pane" role="tab">White balance</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#file_path_pane" role="tab">File path</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="brightness_pane" role="tabpanel">
							Brigthness:
							<h3 id = "brightness_text">40</h3>
							<input id = "brightness_slider" type="range" min="0" max="100" step="5" value = "40" />
						</div>
						<div class="tab-pane fade" id="contrast_pane" role="tabpanel">
							Contrast:
							<h3 id = "contrast_text">40</h3>
							<input id = "contrast_slider" type="range" min="0" max="100" step="5" value = "40" />
						</div>
						<div class="tab-pane fade" id="white_balance_pane" role="tabpanel">
							Blue gain:
							<h3 id = "blue_gain_text">40</h3>
							<input id = "blue_gain_slider" type="range" min="0" max="100" step="5" value = "40" />
							<br>
							Red gain:
							<h3 id = "red_gain_text">40</h3>
							<input id = "red_gain_slider" type="range" min="0" max="100" step="5" value = "40" />
						</div>
						<div class="tab-pane fade" id="file_path_pane" role="tabpanel">
							File path:
							<input id = "file_path_text" type="text" value = "/home/pi/images/"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>


		<!-- test python time lapse script (with time.sleep function) runs in server end-->
		<form action="/time_lapse_module" method="post">
			<button  name="test" class="btn btn-danger" type="submit">Time lapse</button>
		</form>

		<!-- Run script with time.sleep() without refreshing page using ajax-->
		<button id="test_button" class="btn btn-danger" type="submit">Time lapse + ajax</button>


		<!-- obtain values in inputs and run python script-->
		<button  id="update_parameters_button" class="btn btn-danger" type="submit">Update parameters</button>


		<!-- obtain values in inputs and run python script-->
		<form action="read_parameters" >
			<button  id="read_parameters_button_1" class="btn btn-danger" type="submit" href="/">Read parameters from last time</button>
		</form>
		<p id = 'parameter_text_1'> saved parameters: </p>

		<button  id="read_parameters_button" class="btn btn-danger" type="submit" href="/">Read parameters from last time</button>
		<p id = 'parameter_text'> saved parameters: </p>



		

		<!-- import libraries -->
		<!-- local files Jquery-->
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- local jQuery -->
		<link type="text/javascript" href="../static/js/jquery-3.2.1.js">
		<!-- Bootstrap js -->
		<link type="text/javascript" href="../static/js/bootstrap.min.js">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="../static/css/custom_style.css">
		<!-- customised js and css-->
		<link type="text/javascript" href="../static/js/main.js">




	</body>
</html>
