<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="static/jquery_3.2.1.min.js"></script>
  <script>
  "use strict";

  let camera_params = {
    width: 1280,
    height: 720,
    fps: 10,
    sharpness: 0,
    brightness: 50,
    contrast: 0,
    saturation: 0,
  };

  function onChangeSlider(obj){
    let param_name = $(obj).parent().prop("id");
    camera_params[param_name] = $(obj).prop('value');
    $(obj).siblings('input[type="text"]').prop('value', camera_params[param_name]);
  }

  function onChangeText(obj){
    let param_name = $(obj).parent().prop("id");
    camera_params[param_name] = $(obj).prop('value');
    $(obj).siblings('input[type="range"]').prop('value', camera_params[param_name]);
  }

  function openSetting(evt, SettingName) {
      // Declare all variables
      let i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(SettingName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  const STREAM_URL = 'http://10.0.0.1:8080/?action=stream';
  const STREAM_CTL_URL = 'start_stream';
  const CAPTURE_URL = 'capture';
  const MOTOR_CTL_URL = 'move';
  const LED_CTL_URL = 'led';
  const MICROSWITCH_URL = 'microswitch';

  function start_stream(params){
    $.ajax({
      url: STREAM_CTL_URL,
      data: params,
      success: function(){
        load_stream(params['width'], params['height']);
      },
      error: function(){
        alert('Could not restart stream with new parameters');
      }
    });
  }

  function load_stream(width=1280, height=720){
    $('#stream_container').empty()
      .append(`<img id="stream" width="${width}" height="${height}" src="${STREAM_URL}" style=""/>`);
  }

  function capture(params){
    $.ajax({
      url: CAPTURE_URL,
      data: params,
      success: function(){
        load_stream(params['width'], params['height']);
        // Simulate the user clicking on the hidden download link to prompt to save the image
        $('#capture_link')[0].click();
      },
      error: function(){
        load_stream(params['width'], params['height']);
        alert('Error when attempting to capture image');
      }
    });
  }

  function move(x=0, y=0 , z=0){
    $.ajax({
      url: MOTOR_CTL_URL,
      data: {
        x: x,
        y: y,
        z: z,
      },
      error: function(){
        alert('Error when attempting to move motors');
      }
    });
  }

  function toggle_led(){
    let checked = $("#led_toggle").prop("checked");
    $.ajax({
      url: LED_CTL_URL,
      data: {led: (checked == true ? "on" : "off")},
      error: function(){
        alert('Could not toggle LED. Make sure the Arduino is connected and set up with the nanpy firmware.');
      }
    });
  }
  
  function poll_microswitch_status(){
    $.ajax({
      url: MICROSWITCH_URL,
      data: {
        prev_state: $(".microswitch").hasClass("active") ? "on" : "off",
      },
      success: function(data){
        if (data["microswitch"] == "on"){
          $(".microswitch").addClass("active");
        }
        else if (data["microswitch"] == "off"){
          $(".microswitch").removeClass("active");
        }
        else {
          alert('Error processing microswitch status from server.');
        }
        // Recursively call our function again
        const timeout = 500  // 0.5 seconds
        setTimeout(poll_microswitch_status, timeout);
      },
      error: function(){
        alert('Could not obtain microswitch status. Make sure the Arduino is connected and set up with the nanpy firmware.');
      },
    });
  }

  </script>
  <title>WaterScope</title>
</head>

<body>
  <p class="title">WaterScope</p>
  <div id="stream_container" class="stream_conatiner button"></div>
  <div class="button">
    <button class="click" onclick="capture(camera_params);">Capture Photo</button>
    <a id="capture_link" href="static/capture.jpg" hidden download>Download</a>
  </div>
  
  <br/>
  
  <h2 class="header">Motor Control</h2>

  <h2 class="sub_header">Plane Movement</h2>
  <div class="button"><button class="motor_control" onclick="move(0, 2000, 0);">&#x25B2</button></div> <!--Move positive Y direction-->
  <div class="button">
    <button class="motor_control" onclick="move(-2000, 0, 0);">&#x25C0</button> <!--Move negative X direction-->
    <button class="motor_control" onclick="move(0, -2000, 0);">&#x25BC</button> <!--Move negative Y direction-->
    <button class="motor_control" onclick="move(2000, 0, 0);">&#x25BA</button>  <!--Move positive X direction-->

  </div>
  
  <h2 class="sub_header">Vertical Movement</h2>  
  <div class="button"><button class="motor_control" onclick="move(0, 0, 2000);">&#x25B2</button></div> <!--Move positive Z direction-->
  <div class="button"><button class="motor_control" onclick="move(0, 0, -2000);">&#x25BC</button></div> <!--Move negative Z direction-->
  
  <br/>
  
  <h2 class="header">Camera Settings</h2>
  <div class="tab">
    <button class="tablinks" onclick="openSetting(event, 'sharpness')">Sharpness</button>
    <button class="tablinks" onclick="openSetting(event, 'brightness')">Brightness</button>
    <button class="tablinks" onclick="openSetting(event, 'contrast')">Contrast</button>
    <button class="tablinks" onclick="openSetting(event, 'saturation')">Saturation</button>
  </div>

  <div id="sharpness" class="tabcontent">
    <p>Change the sharpness of the video stream</p>
    <input type="range" min="-100" max="100" step="10" />
    <input type="text" value="0"/>
  </div>

  <div id="brightness" class="tabcontent">
    <p>Change the brightness of the video stream</p>
    <input type="range" min="0" max="100" step="10" />
    <input type="text" value="50"/>
  </div>

  <div id="contrast" class="tabcontent">
    <p>Change the contrast of the video stream</p>
    <input type="range" min="-100" max="100" step="10" />
    <input type="text" value="0"/>
  </div>
    
  <div id="saturation" class="tabcontent">
    <p>Change the saturation of the video stream</p>
    <input type="range" min="-100" max="100" step="10" />
    <input type="text" value="0"/>
  </div>
  
  <button class="apply" onclick="start_stream(camera_params);">Apply</button>
  
  <h2 class="header">Other Controls</h2>
  
  <div>
  <h3 class="sub_header">Toggle on LED</h3>
      <label class="switch"><input id="led_toggle" type="checkbox" onchange="toggle_led();"/>
      <div class="slider round"></div></label>
  </div>
  
  <div>
  <h3 class="sub_header">Microswitch Status</h3>
  <div class="button"><span class="microswitch"></span><div/>
  <div/>
  
  </body>
</html>
