<html>

<head>
  <title>Video Streaming Demonstration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <!-- refresh the page automatically to keep snapping :)-->

  <meta http-equiv="refresh" content="{{refresh_interval}}">
  <h1>Serial command: {{general_serial_command}}</h1>

  <div class="d-flex justify-content-center mb-3">
    <a href="/" target="_parent"><button class="btn btn-dark btn-lg">Default</button></a>
    <a href="/config" target="_parent"><button class="btn btn-info btn-lg">Config</button></a>
    <a href="/snap" target="_parent"><button class="btn btn-success btn-lg">Snap</button></a>
    <a href="/help" target="_parent"><button class="btn btn-warning btn-lg">Help page</button></a>
    <a href="/ser/?s=66" target="_parent"><button class="btn btn-light btn-lg">Light on</button></a>
    <a href="/ser/?s=-66" target="_parent"><button class="btn btn-Dark btn-lg">Light off</button></a>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <form action="/ser/" class="form-inline">
      <input type="text" name="m" value="{{move_serial_command}}" placeholder="Move how much?" class="form-control">
      <button type="submit" class="btn btn-danger btn-lg">Move!</button>
    </form>
  </div>

    
  
  <!-- customised class for css auto-resizing -->
  <img class="stream" src="{{ url_for('video_feed') }}" width="1640" height="1232">

</body>


</html>