<html>

<head>
  <title>Video Streaming Demonstration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script type=text/javascript src="{{url_for('static', filename='javascript/mousetrap.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='javascript/main.js') }}"></script>
</head>

<!-- TODO: implement a serial window and a serial print window with ajax? -->
<!-- TODO: implement vue -->

<body>
  <!-- refresh the page automatically to keep snapping :)-->

  <meta http-equiv="refresh" content="{{refresh_interval}}">
  <div class="d-flex justify-content-left">
    <h1>WaterScope web interface</h1>
  </div>
  <!-- <h1>Serial command: {{general_serial_command}}</h1> -->


  <div class="d-flex justify-content-center my-2">
    <a href="/" target="_parent"><button class="btn btn-primary  mx-1">Restart</button></a>
    <a href="/stop" target="_parent"><button class="btn btn-danger  mx-1">Stop stream</button></a>
    <a href="/zoom" target="_blank"><button class="btn btn-warning  mx-1">Zoom in</button></a>
    <a href="/config" target="_parent"><button class="btn btn-info  mx-1">Config</button></a>
    <a href="/snap" target="_parent"><button class="btn btn-success  mx-1">Snap</button></a>
    <a href="/swap_stream" target="_parent"><button class="btn btn-outline-danger  mx-1">Toggle camera</button></a>
  </div>

  <div class="d-flex justify-content-center">
    <a href="/autofocus" target="_parent"><button class="btn btn-outline-success mx-1">Autofocus</button></a>
    <a href="/ser/?value=66" target="_parent"><button class="btn btn-outline-dark  mx-1">Light on</button></a>
    <a href="/ser/?value=-66" target="_parent"><button class="btn btn-Dark  mx-1">Light off</button></a>
    <!-- #TODO: change this to a dropdown with move, change led colour, and the box for value -->
    <form action="/ser/" class="form-inline mx-3">
      <input type="text" name="m" value="{{serial_command_value}}" placeholder="Step?" class="form-control mx-3 col-5">
      <button type="submit" class="btn btn-outline-danger">Move!</button>
    </form>
  </div>

  <div class="d-flex justify-content-center">
    <form class="form-inline mx-3">
      <input type="text" name="t" value="{{refresh_interval}}" placeholder="Seconds?" class="form-control mx-3 col-3">
      <button type="submit" formaction="/timelapse/" class="btn btn-outline-success mx-1">Start timelapse</button>
      <button type="submit" formaction="/timelapse_waterscope/" class="btn btn-outline-primary mx-1">WaterScope timelapse</button>
    </form>
  </div>




  <div>
    <img class="{{stream_class or 'stream' }}" src="{{ url_for('video_feed') }}" width="1640" height="1232">
  </div>



  <!-- 
  <div style="text-align:center;width:480px;">
    <button onclick="moveup()">UP</button><br><br>
    <button onclick="moveleft()">LEFT</button>
    <button onclick="moveright()">RIGHT</button><br><br>
    <button onclick="movedown()">DOWN</button>
  </div> -->

  <!-- customised class for css auto-resizing -->


</body>

</html>

