<html>

<head>
    <!-- WARNING: CSS should be in head -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vuetify.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <v-app id="app">
        <v-toolbar color="black" dark fixed app>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>WaterScope web interface</v-toolbar-title>
        </v-toolbar>

        <v-content>
            <v-container fluid text-xs-center grid-list-xs justify-center>
                <!-- NOTE: another layout here -->
                <v-layout row wrap>
                    <v-flex xs 12>
                        <v-snackbar v-model="alert_window" bottom='bottom' :right='false' multi-line='multi-line'
                            :timeout='alert_window_timeout' vertical='vertical'>
                            Command sent: [[ serial_command]]
                            <br>
                            Currently running: [[alert_content]]
                            <v-btn color="pink" flat @click="alert_window = false">
                                Close
                            </v-btn>
                        </v-snackbar>
                    </v-flex>
                </v-layout>


                <!-- NOTE: another layout here -->
                <v-layout>
                    <!-- NOTE: refresh button-->
                    <v-flex xs9>
                        <!-- NOTE: stop streaming button-->

                        <v-tooltip top>
                            <!-- slot is needed for tooltip to work? -->
                            <v-btn slot="activator" color="error" fab @click='stop_stream'>
                                <v-icon>stop</v-icon>
                            </v-btn>
                            <span>Stop the streaming</span>
                        </v-tooltip>

                        <!-- NOTE: photo taking buttons-->

                        <v-tooltip top>
                            <!-- slot is needed for tooltip to work? -->
                            <v-btn slot="activator" color="primary" fab @click='take_image'>
                                <v-icon>photo_camera</v-icon>
                            </v-btn>
                            <span>Take a low-res image (hkey: G) </span>
                        </v-tooltip>

                        <v-tooltip top>
                            <!-- slot is needed for tooltip to work? -->
                            <v-btn slot="activator" color="success" fab @click='take_image_high_res'>
                                <v-icon>camera_enhance</v-icon>
                            </v-btn>
                            <span>Take a raw image (hkey: H)</span>
                        </v-tooltip>

                        <!-- NOTE: stop streaming button-->

                        <v-tooltip top>
                            <v-btn slot="activator" color="warning" fab href='/serial'>
                                <v-icon>memory</v-icon>
                            </v-btn>
                            <span>Serial window to see temperature plot</span>
                        </v-tooltip>

                        <!-- NOTE: config_setting -->
                        <v-tooltip top>
                            <v-btn-toggle v-model="config_update_switch" slot="activator">
                                <v-btn flat color="black" value="true">
                                    <span>Configs</span>
                                    <v-icon>settings</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                            <span>Update settings in yaml file</span>
                        </v-tooltip>


                        <!-- NOTE: recording -->
                        <v-tooltip top>
                            <v-btn-toggle v-model="recording_switch" slot="activator">
                                <v-btn flat color="red" value="true">
                                    <span>Record</span>
                                    <v-icon>videocam</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                            <span>Record a video</span>
                        </v-tooltip>

                        <!-- NOTE: LED -->
                        <v-tooltip top>
                            <v-btn-toggle v-model="LED_switch" slot="activator">
                                <v-btn color="#fffa00" value="true">
                                    <span>LED</span>
                                    <v-icon>highlight</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                            <span>Toggle LED (hkey: on/off)</span>
                        </v-tooltip>

                        <!-- NOTE: Stream selection -->
                        <v-tooltip top>
                            <v-btn-toggle v-model="stream_method" slot="activator">
                                <v-btn flat color="black" value="PiCamera">
                                    <span>PiCamera</span>
                                </v-btn>
                            </v-btn-toggle>
                            <span>Use PiCamera (Default)</span>
                        </v-tooltip>

                        <v-tooltip top>
                            <v-btn-toggle v-model="stream_method" slot="activator">
                                <v-btn flat color="black" value="OpenCV">
                                    <span>OpenCV</span>
                                </v-btn>
                            </v-btn-toggle>
                            <span>Use OpenCV (Slow, incorporated other functions)</span>
                        </v-tooltip>
                    </v-flex>

                    <v-flex xs3>
                        <!-- NOTE: zoom slider -->
                        <v-slider v-model="zoom" :max="max_zoom" :min="1" :step="0.5" append-icon="zoom_in"
                            prepend-icon="zoom_out" @click:append='zoom_in' @click:prepend='zoom_out' thumb-label ticks='always'
                            color='black'>
                        </v-slider>
                    </v-flex>
                </v-layout>


                <!-- Warning: another layout here -->
                <!-- NOTE: Arduino command -->
                <v-layout row wrap>
                    <v-flex xs3>
                        <v-select :items="available_arduino_boards" v-model="chosen_arduino_board" menu-props="auto"
                            label="Arduino board" hide-details prepend-icon="memory" single-line></v-select>
                    </v-flex>
                    <v-flex xs3>
                        <v-form v-on:submit.prevent="send_serial_command">
                            <v-text-field v-model="serial_command" prepend-icon="memory" label="Serial command here"
                                ref="serial_command_field" id="serial_command_field"></v-text-field>
                        </v-form>
                    </v-flex>


                    <!-- NOTE: Timelapse input and toggle-->
                    <v-flex xs2>
                        <v-text-field v-model="timelapse_interval" label="time in seconds" prepend-icon="access_time"></v-text-field>
                    </v-flex>

                    <!-- NOTE: sharing the same v-model can ensure only one toggle at a time-->
                    <v-flex xs4>
                        <v-tooltip top>
                            <v-btn-toggle v-model="timelapse_switch" slot="activator">
                                <v-btn flat color="black" large value="timelapse">
                                    <span>Timelapse</span>
                                </v-btn>
                            </v-btn-toggle>
                            <span> Normal timelapse</span>
                        </v-tooltip>

                        <v-tooltip top>
                            <v-btn-toggle v-model="timelapse_switch" slot="activator">
                                <v-btn flat color="blue" large value="waterscope_timelapse">
                                    <span>WaterScope timelapse</span>
                                </v-btn>
                            </v-btn-toggle>
                            <span>WaterScope timelapse which turns on/off LED before/after image taking</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>

                <!-- Change: this is for serial plot window -->
                <!-- Warning: another layout here -->
                <v-layout>
                    <v-flex>
                        <div id='plotly_chart'></div>
                    </v-flex>
                </v-layout>
            </v-container>


            <!-- Warning: footer -->
        </v-content>
        <v-footer color="black" app inset>
            <span class="white--text">@Tianheng Zhao</span>
        </v-footer>
    </v-app>

    <div id='plotly_chart'></div>

</body>

<!-- WARNING: javascript should be outside the body -->
<script type=text/javascript src="{{url_for('static', filename='javascript/mousetrap.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='javascript/vue.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='javascript/vuetify.js') }}"></script>

<!-- development version, includes helpful console warnings -->
<!-- Add this after vue.js -->
<script type=text/javascript src="{{url_for('static', filename='javascript/axios.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='javascript/plotly.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='javascript/keyboard_control.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='javascript/main.js') }}"></script>
<!-- Change: this is for serial plot window -->
<script type=text/javascript src="{{url_for('static', filename='javascript/plotting.js') }}"></script>

</html>